input[type=text], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

div.form_body {
  width: 80%;
  border-radius: 5px;
  padding: 20px;
  margin: auto;
}

div.form_footer {
  text-align: end;
}

.response-message {
    font-weight: bold !important;
    color: green !important;
}

.response-error {
    font-weight: bold !important;
    color: red !important;
}

button {
  margin-left: 10px;
  padding: 10px 10px 10px 10px;
}

.data_table {
  margin-left: 15%;
}

.btn-primary {
  color: #fff;
  background-color: #56a2aa;
  border-color: #56a2aa;
  border-radius: 10px;
}
.btn-primary:hover {
  color: #fff;
  background-color: #02163e;
  border-color: #021232;
}
.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(41, 68, 122, 0.5);
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #56a2aa;
  border-color: #56a2aa;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #021232;
  border-color: #010d25;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(41, 68, 122, 0.5);
}


.btn-light {
  color: #fff;
  background-color: #243e55;
  border-color: #243e55;
  border-radius: 10px;
}
.btn-light:hover {
  color: #fff;
  background-color: #02163e;
  border-color: #021232;
}
.btn-light:focus, .btn-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(41, 68, 122, 0.5);
}
.btn-light.disabled, .btn-light:disabled {
  color: #fff;
  background-color: #243e55;
  border-color: #243e55;
}
.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  color: #fff;
  background-color: #021232;
  border-color: #010d25;
}
.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(41, 68, 122, 0.5);
}
